.Rproj.user
.Rhistory
.RData
.Ruserdata
article.log
article.synctex.gz
deleted_lift18.txt
deleted_lift19.txt
CLEAR-CLIP.xlsx
hsa_mirna.txt
lift18.txt
lift19.txt
mirbasehg38.txt
mirna_mature.txt
mmc1.txt
Supplementary_figure_files
edgar_trying.Rmd
chart_sankey.html
chart2_sankey.html
TF_edgar.txt
GDCdata
Rplot.png
eDGAR2.txt
eDGAR_biogrid_physical.txt
edgar_trying.nb.html
ppi.Rmd
mirtarbasegene.rda
*.sublime-*
